<section class="card">
  <h2>SteamCMD</h2>
  <div class="row">
    <button
      id="installServerBtn"
      data-danger="是否確定安裝 / 更新伺服器?\nserverconfig.xml 將被重置"
      data-cancel-text="取消"
      data-continue-text="繼續"
    >
      📥 安裝 / 更新
    </button>
    <button
      id="abortInstallBtn"
      disabled
      data-danger="是否確定中斷安裝 / 更新?\n將不會正常退出，可能導致檔案損毀，請重新執行安裝 / 更新!"
      data-cancel-text="取消"
      data-continue-text="繼續"
    >
      ❌ 中斷安裝 / 更新
    </button>
    <select id="versionSelect">
      <option value="">Stable (public)</option>
      <option value="latest_experimental">Unstable build</option>
      <option value="v2.2">Version 2.2 Stable</option>
      <option value="v2.1">Version 2.1 Stable</option>
      <option value="v2.0">Version 2.0 Stable</option>
      <option value="v1.4">Version 1.4 Stable</option>
      <option value="alpha21.2">Alpha 21.2 Stable</option>
      <option value="alpha20.7">Alpha 20.7 Stable</option>
      <option value="alpha19.6">Alpha 19.6 Stable</option>
      <option value="alpha18.4">Alpha 18.4 Stable</option>
      <option value="alpha17.4">Alpha 17.4 Stable</option>
      <option value="alpha16.4">Alpha 16.4 Stable</option>
      <option value="alpha15.2">Alpha 15.2 Stable</option>
      <option value="alpha14.7">Alpha 14.7 Stable</option>
      <option value="alpha13.8">Alpha 13.8 Stable</option>
      <option value="alpha12.5">Alpha 12.5 Stable</option>
      <option value="alpha11.6">Alpha 11.6 Stable</option>
      <option value="alpha10.4">Alpha 10.4 Stable</option>
      <option value="alpha9.3">Alpha 9.3 Stable</option>
      <option value="alpha8.8">Alpha 8.8 Stable</option>
    </select>
  </div>
</section>
